body {
    background-image: url("../img/wallpaper.jpg");
    background-position: center 1010px;
}

header {
    background-color: rgba(0, 0, 0, 0.349);
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    width: 6%;
    height: 80px;
}

.soultone {
    float: right;
    margin-right: 10px;
    width: auto;
 }

nav {
    background-color: rgba(23, 43, 61, 0.425);
    width: 90%;
    height: 45px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

ul {
    position: absolute;
}

li {

    display: inline-block;
    color: aliceblue;
}

article {
    background-color: rgba(50, 74, 97, 0.521);
    width: 60%;
    height: 400px;
    position: relative;
    display: inline-block;
    margin-left: auto;
    /*margin-right: auto;*/
}

aside {
    background-color: rgba(117, 112, 36, 0.356);
    width: 30%;
    height: 400px;
    position: relative;
    display: inline-block;
}