header {
    background-color: rgb(76, 100, 121);
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

nav {
    background-color: rgb(23, 43, 61);
    width: 90%;
    height: 45px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

ul {
    position: absolute;
}

li {
    margin-left: 5px;
    display: inline-block;
    color: aliceblue
}

article {
    background-color: rgb(61, 96, 128);
    width: 90%;
    height: 400px;
    margin: 0 auto;
}